.verbatim-selected-text{
	position: relative;
}

.verbatim-button-container{
	position: fixed;
	width: 100%;
	background-color: rgb(83, 83, 83);
	bottom: 0px;
	left: 0px;
	padding: 5px;
	z-index: 10000000;
	text-align: center;
	transition: all 300ms ease-out;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transform: translateY(100px);
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
}

.verbatim-button-container.on-page{
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
} 

.verbatim-icon{
	height: 100%;
	padding: 5px;
	cursor: pointer;
}

.verbatim-icon circle, .verbatim-icon path{
	pointer-events:none;
}

.verbatim-wrapper{
	max-width: 400px;
	position: relative;
	margin: 0 auto;
}

.verbatim-text-area{
	position: relative;
	background-color: rgb(83, 83, 83);
	border: 2px solid white;
	color: white;
	max-width: 140px;
	height: 40px;
	padding: 10px
}

.verbatim-info{
	color: white;
	font-size: .8rem;
	margin: 0;
}

.verbatim-twitter-link{
	height: 40px;
	display: inline-block;
	margin-left: 1rem;
} 